<body class="cuerpo">
    <header class="portada">
        <img class="imagen-fondo" src="assets_evidenciaE2/svg/svgPortada_Fondo.svg">
        <nav>
            <img class="logo" src="assets_evidenciaE2/imagenes/banana_icono.png">
            <div class="botones">
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </nav>
        <h1 class="titulo">BANANA SHOP</h1>
    </header>
    <article class="info">
        <div>
            <p>
                ¡Adquiere en nuestra tienda los mejores bananos del mundo! - ¿Qué esperas?
            </p>
            <i class="fa-solid fa-circle-info"></i>
            <img src="assets_evidenciaE2/imagenes/platanos_xd.jpg">
        </div>
    </article>

    <article class="catalogo">
        <img class="separador-catalogo" src="assets_evidenciaE2/svg/separadorCatalogo.svg">
        <app-evidencia-e2></app-evidencia-e2>
    </article>
</body>